server {
  listen 80;
  listen [::]:80;

  server_name staging.samsymons.com;
  root /var/www/staging;
  index index.html;
}

server {
  listen 80;
  listen [::]:80;

  server_name samsymons.com;
  root /var/www/blog;
  index index.html;
}
